/*estyle sugerencias*/
.color{
    background-color: silver;
}

.grid{
width: 100%;
background:url(imagen/imagen.2.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat; 
}

.grid h1 {
height: 30px;
translate: -100%  100%;
margin-right:40%;
margin-left: 40%;
text-align:center ;
color: white;
font-family: 'Kaushan Script', cursive;
}

h3 {
translate: 560px 100px;
position: relative;
color: white;
font-family: 'Kaushan Script', cursive;
}

.register {
align-content: center;
width: 600px;
background: white;
padding: 10px;
margin: auto;
margin-right: 100px;
margin-top: none;
margin-bottom: none;
border-radius: 4px;
font-family: 'calibri';
color: black;
border:none;
}

.register h1 {
margin-left: 90%;
height: 40px;
width:500px ;
color: black;
text-align: center;
}


.register h2 {
color: black;
text-align: center;
padding: 10px;
}
     
.register .tex {
margin-left: 15px;
color: #000;
width: 520px;
height: 200px;
}

.control {
margin-left: 15px;
width: 90%;
background:#FFF ;
padding: 4px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid black;
font-family: 'calibri';
font-size: 18px;
color: black;
}
    
.es {
margin-left: 24.5%;
color: #000;
}

.grid button {
border: none;
cursor: pointer;
border-radius: 50px;
height: 40px;
width: 20%;
margin-left: 40%;
}

.grid button:hover {
color:white;
background:#EE1111;
}

.g-recaptcha {
margin-left: 24%;
}



/* list-style:none quita los puntos de la lista*/
/* text-decoracion_none quita el subrayaddo de nuestros links*/
html{
min-height: 100%;
position: relative;
}

*{
margin: 0;    
margin-bottom: 40px;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;

}
body{
font-family: Arial, Helvetica, sans-serif;
}

/*input buscar*/
.buscar1 {
padding: 10px;
border: none;
width: 300px;
height: 30px;
translate: -15px -25px;
border-radius: 50px;
}

/*HEADER*/
.container{
max-width: 100%;
margin: 0 auto;
}

/* color y relleno de nuestro header */
.back{
padding:38px 0;
/* background-color: #fe8a25fd;*/
}

/*degradao 
background:linear-gradient(#fe8a25fd 70%,white )*/

.degradado{
background:red;
}

/* posicion:absolute para poder  aplicar top left right...
align-center: para centrar los elementos
z-index para que el menu aparezca adelante
*/
.menu{
position: absolute;
top: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
    
z-index: 1000;
}
/**/

.logo img{
width: 60px;
height: 60px;
justify-content: flex-start;
border-radius: 80%;
position: absolute;
bottom: 7px;
left: 30px;
transition: transform .3s ease-out;
}

.logo img:hover {
transform: scale(1.2);
}

/**/
.lista_menu {
margin: 5px ;
}

.menu .lista_menu ul li {
position: relative;
float: left;
border-color: #ffffff;
}

.menu .lista_menu ul li a{
font-size: 15px;
padding: 20px;
color:black;
display: block;
font-size: 20px;
font-weight: 400;
}


.menu .lista_menu ul li a:hover{
color:#FFF;
}

#menu{
display: none;

}
.menu_icono{
width: 25px;
display:none;
}

ul.nav {
cursor: pointer;
position: absolute;
right: 0;
display: flex;
float: left;
}

.nav img{
width: 25px;
margin: 15px;
transition: transform .3s ease-out;
}

.nav img:hover{
transform: scale(1.5);
}


ol{
list-style: none;
}

menu .nav li a {
background-color: transparent;
color: black;
text-decoration: none;
display: block;
align-items: center;
}


.nav > li {
float: left;
}

.nav li ul{
display: none;
position: absolute;
max-width: 150px;
}

.nav li:hover > ul{
display: block;
color:white;
}


.nav{
position: absolute;
right: 100px;
margin: 1px;
align-items: center;
}

.nav ul li{
float: left
}

.nav li ul{
background: red;
display: none;
position: absolute;
max-width: 150px;
}
.lista_menu{
position: relative;
left: 400px;


}
.lista_menu li ul{
    background-color: #FF0033;
    display: none;
    position: absolute;
    max-width: 150px;

}
.lista_menu li:hover > ul{
    display: block;
    color:white;
}

.lista_menu li:hover{
    color:white;
    background:red;
    width: auto
    
}

.style_des li a{
    font-size: 15px;
    padding: 20px;
    color:black;
    display: block;
}


.style_des li a:hover{
    color:#ECF0F1;
    background-color: #FF0033;
    width: 100%
}


.contacto li a{
    background:red;
color: #ECF0F1;
text-decoration: none;
padding: 10px 15px;
display: block;
text-align: center;
}
.contacto > li {
    float:left;
}
.contacto li ul{
display:none;
position: absolute;
min-width: 140px;
}

.contacto li:hover > ul{
display:block;
background-color: #EE1111;
}

.contacto img{
width: 20px;
height: 20px; 
}


/*header*/
*{
margin: 0;
padding: 0;
}

html {
box-sizing: border-box;
font-size: 62.5%;
}
  
*, *:before, *:after {
box-sizing: inherit;
}
  
body{
max-width: 100%
}

/*titulo sugerencias*/
.seccion1{
display: flex;
font-size: 2rem;
background-color: #EE1111;
justify-content: flex-end;
padding: 1rem;
border: 0.1rem solid black;
}

.seccion1 a{
margin: 0 3rem;
}

.seccion1 img{
width: 2rem;
height: 2rem;
align-items: center;
}

.hero{
    background: linear-gradient(to right, rgba(33, 29, 29, 0.887), rgba(33, 29, 29, 0.887)), url(img/hero.jpg);
    color: #ffffff;
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    display:flex;
    justify-content: center ;
    align-items: center;
    text-align: center;
    font-size: 10rem;
    font-family: 'Kaushan Script', cursive;
}

/*footer*/

.footer{
padding-top: 20px;
background-color: red;
text-align: center;
font-size: 2rem;;
text-align: center;
width: 100%;
height: 115px;
color: white;
position: relative;
bottom: 0;

}
.footer .alinear img{
    width: 30px;
    height: 30px;
    float: left;

  }

  .alinear{
    display: flex;
    justify-content: space-around;
    margin-top:20px ;
    margin-left: 40%;
    margin-right: 40%;
  }