.todoTabla {
    border: 1px solid #828c8e;
    background-color: beige;
    display: flex;
    width: 80%;
    margin: auto;


}

.celda {
    width: 20%  ;
    background-color: white;
    margin: 5px;
}

.txtTitulo {
    font-size: x-large;
    text-align: center;
}
